Source: libgappa-coq
Section: math
Priority: extra
Maintainer: Guillaume Melquiond <guillaume.melquiond@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, coq (>= 8.3), libcoq-ocaml-dev, dh-ocaml, ocaml-best-compilers, libflocq-coq, gappa (>= 0.15)
Standards-Version: 3.8.3
Homepage: http://gappa.gforge.inria.fr/

Package: libgappa-coq
Architecture: any
Depends: ${ocaml:Depends}, ${shlibs:Depends}, ${misc:Depends}, coq-${F:CoqABI}, libflocq-coq
Recommends: gappa (>= 0.14)
Description: Verification tool for floating-point programs (Coq support)
 Gappa is a tool intended to help verifying and formally proving
 properties on numerical programs dealing with floating-point or
 fixed-point arithmetic. It has been used to write robust floating-point
 filters for CGAL and it is used to certify elementary functions in
 CRlibm. While Gappa is intended to be used directly, it can also act as
 a backend prover for the Why software verification plateform or as an
 automatic tactic for the Coq proof assistant.
 .
 This package provides a Coq tactic and the associated Coq theories.
